.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 10px;
}

.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.available {
  background-color: green;
  color: white;
}

.booked {
  background-color: red;
  color: white;
}
